<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saeefmd.official.miublooddonors">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/blood_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blood_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.HelpActivity"
            android:label="@string/help_activity_label"></activity>
        <activity android:name=".Activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.UserInfoActivity"
            android:label="@string/userinfo_activity_label"/>
        <activity android:name=".Activity.BloodResultActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.LogInActivity"
            android:label="@string/login_activity_label"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>